
<template name="Funds">
  <h3>Funds</h3>
  <div class="funds-conatiner">

    {{#each funds}}
    <p>
      {{name}} 
    </p>
    {{else}}
    <p>You can find all the funds here</p>
    {{/each}}
  </div>
</template>
