<head>
  <title>TaxFinder</title>
</head>

<body>
  <h1 class="center-align">Welcome to Fund Finder!</h1>
  <div class="row">
    <div class="col s10 offset-s1">
      {{> search}}
      <div class="row">
        <div class="col s6">
          {{> SchemeTypes}}
        </div>
        <div class="col s6">
          {{> Funds}}
        </div>
      </div>
      <div class="row">
        {{>Plans}}
      </div>
    </div>
  </div>
</body>

