
<template name="Plans">
  <h3>Plans</h3>
  {{#if isPlanAvailable}}
  <div class="plans-container">
    <table class="bordered hoverable">
      <thead>
        <tr>
          <th>Scheme Code</th>
          <th>ISIN Div Payout/ ISIN Growth</th>
          <th>ISIN Div Reinvestment</th>
          <th>Scheme Name</th>
          <th>Net Asset Value</th>
          <th>Repurchase Price</th>
          <th>Sale Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each plans}}
        <tr>
          <td>{{schemeCode}}</td>
          <td>{{payout}}</td>
          <td>{{reinvestment}}</td>
          <td>{{schemeName}}</td>
          <td>{{netAssetValue}}</td>
          <td>{{repurchasePrice}}</td>
          <td>{{salePrice}}</td>
          <td>{{planCreatedDate}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br />
    <div class="row center-align">
      <a href="#" class="btn center-align  btn-large" id="load-more">Load more</a>
    </div>
  </div>
  {{/if}}
</template>
