
<template name="SchemeTypes">
  <h3>Schemes</h3>
  <div class="scheme-container">
    {{#each schemeTypes}}
    <p>{{name}}
    </p>
    {{else}}
    <p> You can find all the schemes here.</p>
    {{/each}}
  </div>
</template>
