
<template name="search">
  <div class="input-field col s4">
    <select id="searchType">
      <option value="Plans">Plans</option>
      <option value="Funds">Funds</option>
      <option value="SchemeTypes">Schemes</option>
    </select>
    <label>Select Search Type</label>
  </div>
  <div class="col s8">
    <label class="active" for="search">Search Query</label>
    <input value="" id="search" type="search" class="validate">
  </div>
  <div class="row">
    <div class="col s4">
      <label class="active" for="schemeCode">Scheme Code</label>
      <input value="" id="schemeCode" type="search" class="validate" placeholder="Type the key and hit enter">
    </div>
    <div class="col s4">
      <label class="active" for="">Net Asset Value</label>
      <br />
      <br />
      <div id="slider"></div>
      <p>min: {{slider.[0]}} - max: {{slider.[1]}}</p>
    </div>
  </div>
</template>
